<div class="main-container">
  <div class="split-container">
    <div class="left-container">
      <div class="body-container">
        <div class="header">LOGIN</div>

        <form (ngSubmit)="login()">
          <div class="input-container">
            <mat-form-field class="field-input">
              <mat-label>Email</mat-label>
              <input matInput name="email" placeholder="Enter Email" type="text" id="email"
                     [(ngModel)]="email">
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field class="field-input">
              <mat-label>Password</mat-label>
              <input matInput name="password" type="password" placeholder="Enter Password" id="password"
                     [(ngModel)]="password">
            </mat-form-field>
          </div>
        </form>

        <div class="button-container">
          <button mat-button type="submit" class="button btn-1" (click)="login()" [disabled]="disableLogin()">Login
          </button>
          <button mat-button type="submit" class="button btn-2" [routerLink]="'/auth/signup'">
            Sign
            Up
          </button>
        </div>

        <div class="forgot-password" [routerLink]="'/auth/forgot-password'">Forgot Password</div>
      </div>
    </div>

    <div class="right-container">
      <div class="body-container">
        <div class="logo-container"><img class="logo" src="../../../assets/img/logo-robot.png"></div>
        <div class="hook-container">
          <div class="name-logo-container"><img class="logo" src="../../../assets/img/logo-name.png"></div>
          <div class="hook-text">Next Generation Gaming Competition</div>
        </div>
      </div>
    </div>
  </div>

</div>
