<div class="game-container">
  <span class="game-messages">{{message}}</span>
  <div class="game-table">
    <img src="../../assets/img/table-top.png" class="table-image">

    <div class="table-data">
      <div class="table-cards">
        <div *ngFor="let card of commonCards" class="card-holder">
          <img class="card" src="../../assets/img/cards/{{card.rank + card.type}}.png">
        </div>
      </div>
      <p class="table-pot">${{pot}}</p>
    </div>

    <div class="player" *ngFor="let player of players; let i = index" [ngStyle]="getPlayerStyle(i)">
      <p class="player-name">{{player.name}}</p>
      <div class="player-cards">
        <div *ngIf="player.status === 'active'" class="card-holder">
          <img *ngFor="let card of player.cards" class="card" src="../../assets/img/cards/{{card.rank + card.type}}.png">
        </div>
        <div *ngIf="player.status !== 'active'" class="card-holder">
          <img *ngFor="let card of [0,1]"  class="card" src="../../assets/img/cards/purple_back.png">
        </div>
      </div>
      <p class="player-chips">${{player.chips}}</p>
    </div>
  </div>

  <div class="odds-view">
    <div class="player-odds" *ngFor="let player of players; let i = index">
      <div>{{player.name}}:</div>
      <div class="odd">{{odds[i]}}%</div>
    </div>
  </div>
</div>
