.main-container {
  height: 100%;
  overflow-x: scroll;
  position: relative;
}

.leader-board-wrapper {
  background-color: #ffffff;
  margin: auto;
  overflow: auto;
}

.leader-board {
  width: 100%;
  box-shadow: none;
}

.name-cell {
  display: flex;
  padding: 15px;
}

.name-icon {
  width: 30px;
}

.name {
  margin: auto 10px;
}

.class-cell {
  width: 30px;
}

.section-title {
  color: #cc0000;
  font-size: 30px;
  margin: 10px 0;
  width: fit-content;
}

.container {
  width: 75%;
  margin: 20px auto;
}

.footer-cell {
  background: rgba(204, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
