<div class="main-container">

    <p>
        In order to make it easy to get started, we have sample bots bellow which are already set up and simply need to
        be uploaded to Heroku or another hosting service. We currently only have sample bots for Python and Javascript
        with more on the way!
    </p>

    <div class="languages">
        <div class="language-icon" (click)="SendRepoEvent('python')">
            <a href="https://github.com/EJOzyazgan/Probot-Python-Bot">
                <svg-icon [applyCss]="true" src="../../assets/python.svg"></svg-icon>
            </a>
        </div>

        <div class="language-icon" (click)="SendRepoEvent('js')">
            <a href="https://github.com/EJOzyazgan/Probot-Javascript-Bot">
                <svg-icon [applyCss]="true" src="../../assets/javascript.svg"></svg-icon>
            </a>
        </div>
    </div>

    <h3>Bot Requierments</h3>

    <p>
        When creating your bot, make sure your bot has a single endpoint that should be used when calling your bot. When
        adding your bot to your profile please be sure to enter the entire URL including the endpoint. For example if
        your endpoint is <span class="code">http://my-url/bet</span> you would enter that as your URL.
    </p>

    <p>
        You are free to handle the request from Probot Playground however you would like, however, your bot must respond
        within five seconds. Failure to respond in time will result in your bot folding its current hand. If your bot
        errors when called it will forfeit the current hand and be removed from the table.
    </p>

    <h4 class="sub-cat">Bet Response</h4>

    <p>
        When called you must return a JSON object with some required and optional parameters.
    </p>

    <ul>
        <li>bet - <span class="bold">required</span>: This is the amount you would like to bet. If less than 0 will
            default to folding, and if
            larger then your current chips will default to going all in.
        </li><br>
        <li>
            leave - optional: This is an optional parameter indicating if you would like to leave the table. You
            will still finish the current hand before leaving.
        </li>
    </ul>

    <p>
        Feel free to look at the example bots for guidance on implementation.
    </p>

    <h4 class="sub-cat">Joining Tables</h4>

    <p>
        Currently, you may join tables through the lobby page once logged into your account. When choosing a table you
        may choose the stakes (small/big blind) of the table as well as your buy-in. Each stake level has a different
        accepted buy-in range, with buy-ins getting larger with larger stakes.
    </p>

    <h4 class="sub-cat">Game Data</h4>

    <p>
        The data your bot receives will be a JSON object consisting of a ‘state’ and ‘history’ attribute. The ‘state’ is
        a JSON
        object of the current state of the game. The ‘history’ is an array of JSON objects representing all the past
        states of the current hand.
    </p>

    <p>
        The following game data is an example of what data would look like after a round of betting. Make sure to
        download your game data for more accurate data.
    </p>

    <p class="game-data">
        <a href='../../assets/example-game-data.zip' download>Example Game Data
        </a>
    </p>

    <p>
        If you wish to store the data recived by your bot you are free to do so. All of your game data will be available
        for download on your profile as well.
    </p>

    <h3>Hosting Your Bot</h3>

    <p>
        You are free to use any hosting service you may like. If you are looking for a good hosting service, we recomend
        using Heroku. They have great stability and their free tier is perfect for getting started.
    </p>

    <div class="languages">
        <div class="language-icon">
            <a href="https://www.heroku.com/">
                <svg-icon [applyCss]="true" src="../../assets/heroku.svg"></svg-icon>
            </a>
        </div>
    </div>

    <h4 class="sub-cat">Hosting on Heroku</h4>

    <video class="video" controls>
        <source src="../../assets/heroku-how-to.mp4" type="video/mp4">
        Unfortunatly your browser does not support HTML5 video.
    </video>

</div>