.main-container {
  height: 100%;
  position: relative;
}

.split-container {
  display: flex;
  height: 100%;
}

.left-container {
  z-index: 10;
  position: relative;
  width: 40%;
  box-shadow: 0 0 12px #f6f6f6;
  background-color: white;
}

.right-container {
  position: relative;
  width: 60%;
  background-image: url(../../assets/img/metal-mesh.jpg);
  background-repeat: repeat;
}

.body-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 80%;
}


.hook-container {
  margin: auto;
}

.logo-container {
  width: 300px;
  margin: auto;
}

.name-logo-container {
  width: 100%;
  margin: 50px auto 0 auto;
}

.hook-text {
  color: #f6f6f6;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 100%;
}

.header {
  color: #cc0000;
  font-family: 'xirod', sans-serif;
  text-align: center;
  font-size: 30px;
}

.input-container {
  margin: auto;
}

.field-input {
  width: 100%;
}

.button-container {
  margin: auto;
  display: flex;
  width: 75%;
}

.button {
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: 100%;
}

.btn-1 {
  background: #cc0000;
  color: #ffffff;
}

.btn-1:disabled {
  background: #C1C1C1;
  color: #ffffff;
}

.btn-2 {
  background: #d6d6d6;
}

.forgot-password {
  width: fit-content;
  margin: auto;
  color: blue;
  text-decoration: underline;
}

.forgot-password:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .main-container {
    background-image: url(../../assets/img/metal-mesh.jpg);
    background-repeat: repeat;
  }

  .right-container {
    display: none;
  }

  .body-container {
    height: fit-content;
    padding: 30px;
    background-color: white;
  }

  .left-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 525px) {
  .button-container {
    display: block;
  }

  .button {
    margin-left: 0;
  }
}
