<div class="main-container">
  <label>
    Division:
    <select class="division-select" [(ngModel)]="selectedDiv">
      <option *ngFor="let division of bracket.divisions" [ngValue]="division">{{division.name}}</option>
    </select>
  </label>

  <div *ngIf="bracketLoaded" class="bracket-container">
    <div *ngFor="let round of selectedDiv.rounds" class="tournament-bracket__round">
      <h3 class="tournament-bracket__round-title">Round: {{round.name}}</h3>
      <ul class="tournament-bracket__list">
        <li *ngFor="let game of round.games" class="tournament-bracket__item">
          <mat-card class="tournament-bracket__match" tabindex="0">
            <mat-card-header class="card-header">
              <mat-card-title class="card-title">Game: {{game.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
              <div *ngFor="let bot of game.bots" class="bot-container">
                <div class="bot-header">{{bot.bot.name}}</div>
                <div class="bot-score">{{bot.score}}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>
    </div>
  </div>
</div>
