.main-container {
  height: 100%;
  background: #2C2A2A;
}

.bracket-container {
  height: 100%;
}

.card-content {
  margin: auto;
  width: 100%;
}

.card-header {
  margin: auto;
  width: fit-content;
  padding: 0;
}

.card-title {
  font-size: 22px;
  color: white;
}

.bot-container {
  width: 100%;
}

.bot-header {
  height: fit-content;
  padding: 5px;
}

.bot-score {
  background: #ff9a35;
  padding: 5px;
  color: black
}

.bot-info {
  display: flex;
  width: fit-content;
  margin: auto;
  font-size: 16px;
  min-height: 18px;
}

.bot-card {
  margin: 5px auto;
  padding: 5px;
  width: 45%;
}

.division-select {
  position: absolute;
  bottom: 0;
}

.holder {
  width: 100%;
  height: 100%;
}

//
// VARIABLES
// ---------------------------
$breakpoint-xs: 24em;
$breakpoint-sm: 38em;
$breakpoint-md: 52em;
$breakpoint-lg: 72em;


//
// GENERAL RULES
// ---------------------------
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}


//
// TOURNAMENT BRACKET
// ---------------------------
.tournament-bracket {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.tournament-bracket__round {
  height: 100%;
  width: 30%;
}

.tournament-bracket__round-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.tournament-bracket__list {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.tournament-bracket__item {
  width: 100%;
}

.tournament-bracket__match {
  width: 100%;
  padding: 1em;
  border-radius: 12px;
  border: #cc0000 solid 3px;
  background: #7d7878;
}


