<div class="main-container">
  <mat-card class="center-card mat-elevation-z6">
    <mat-card-title>Email Verification</mat-card-title>
    <mat-card-content>
      <div *ngIf="!validating">
        <p>An email verification as been sent to {{email}}, please verify your email to activate your account.</p>
        <p>If you do not see an email from Probot Playground please be sure to check your spam folder as well.</p>
      </div>
      <div *ngIf="validating">
        <p *ngIf="isValid">Email verified successfully!. Have fun on the Playground!</p>
        <p *ngIf="!isValid">Email verification invalid</p>
      </div>
      <button mat-button type="submit" class="button btn-1" [routerLink]="'/auth/login'">Login</button>
    </mat-card-content>
  </mat-card>
</div>
