.main-container {
  height: 100%;
}

.split-container {
  display: flex;
  height: 100%;
}

.left-container {
  z-index: 10;
  position: relative;
  width: 40%;
  box-shadow: 0 0 12px #f6f6f6;
}

.right-container {
  position: relative;
  width: 60%;
  background-image: url(../../../assets/img/metal-mesh.jpg);
  background-repeat: repeat;
}

.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 80%;
}


.hook-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 80%;
}

.logo-container {
  width: 300px;
  margin: 50px auto 0 auto;
}

.name-logo-container {
  width: 100%;
  margin: 50px auto 0 auto;
}

.hook-text {
  color: #f6f6f6;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 100%;
}

.signup-header {
  color: #cc0000;
  font-family: 'xirod', sans-serif;
  text-align: center;
  font-size: 30px;
}

.input-container {
  margin: auto;
}

.input {
  font-size: 18px;
  height: 50px;
  width: 100%;
}

.signup-input {
  width: 100%;
}

.button-container {
  margin: auto;
  display: flex;
  width: 75%;
}

.button {
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: 100%;
}

.btn-1 {
  background: #cc0000;
  color: #ffffff;
}

.btn-2 {
  background: #d6d6d6;
}


@media (max-width: 599px) {

}

@media (min-width: 600px) {

}
