<div class="main-container">
  <div class="split-container">
    <div class="left-container">
      <div class="body-container">
        <div class="header">SIGN UP</div>

        <form (ngSubmit)="signUp()">
          <div class="input-container">
            <mat-form-field class="field-input">
              <mat-label>Username</mat-label>
              <input matInput name="username" placeholder="Enter Username" type="text" id="username"
                     [(ngModel)]="user.username" required>
            </mat-form-field>
          </div>

          <div class="input-container">
            <app-custom-input
              [label]="'Email'"
              [type]="'email'"
              [placeholder]="'Enter Email'"
              [toggleEdit]="false"
              [shouldShow]="true"
              [validation]="'email'"
              [position]="'bottom'"
              (valueEmitter)="setValue($event, 'email')"
            ></app-custom-input>
          </div>

          <div class="input-container">
            <mat-form-field class="field-input">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="user.gender" name="gender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender.toLowerCase()">
                  {{gender}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field class="field-input">
              <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Select Date of Birth"
                     (dateChange)="setDob($event)" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="input-container">
            <app-custom-input
              [label]="'New Password'"
              [type]="'password'"
              [placeholder]="'New Password'"
              [toggleEdit]="false"
              [shouldShow]="true"
              [validation]="'password'"
              [position]="'bottom'"
              (valueEmitter)="setValue($event, 'tempPass')"
            ></app-custom-input>
          </div>

          <div class="input-container">
            <app-custom-input
              [label]="'Confirm Password'"
              [type]="'password'"
              [placeholder]="'Confirm Password'"
              [toggleEdit]="false"
              [shouldShow]="true"
              [validation]="'password'"
              [position]="'bottom'"
              (valueEmitter)="setValue($event, 'confirmPass')"
            ></app-custom-input>
          </div>
        </form>

        <div class="button-container">
          <button mat-button type="submit" class="button btn-1" (click)="signUp()"
                  [disabled]="!user.password || !confirmPassword || user.password !== confirmPassword || !user.email || !user.username">
            Sign Up
          </button>
          <button mat-button type="submit" class="button btn-2" [routerLink]="'/auth/login'">
            Login
          </button>
        </div>
      </div>
    </div>

    <div class="right-container">
      <div class="body-container">
        <div class="logo-container"><img class="logo" src="../../../assets/img/logo-robot.png"></div>
        <div class="hook-container">
          <div class="name-logo-container"><img class="logo" src="../../../assets/img/logo-name.png"></div>
          <div class="hook-text">Next Generation Gaming Competition</div>
        </div>
      </div>
    </div>
  </div>

</div>
