<div class="main-container">
  <div class="split-container">
    <div class="left-container">
      <div class="signup-container">
        <div class="signup-header">SIGN UP</div>

        <form (ngSubmit)="signUp()">
          <div class="input-container">
            <mat-form-field class="signup-input">
              <input matInput name="email" class="input" placeholder="Enter Email" type="text" id="email"
                     [(ngModel)]="user.email">
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field class="signup-input">
              <input matInput name="password" class="input" type="password" placeholder="Enter Password" id="password"
                     [(ngModel)]="user.password">
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field class="signup-input">
              <input matInput name="password" class="input" type="password" placeholder="Confirm Password"
                     id="confirm-password"
                     [(ngModel)]="confirmPassword">
            </mat-form-field>
          </div>
        </form>

        <div class="button-container">
          <button mat-button type="submit" class="button btn-1" (click)="signUp()" [disabled]="disableSignup">Sign Up
          </button>
          <button mat-button type="submit" class="button btn-2" routerLink="/auth/login" [disabled]="disableSignup">
            Login
          </button>
        </div>
      </div>
    </div>

    <div class="right-container">
      <div class="logo-container"><img class="logo" src="../../../assets/img/logo-robot.png"></div>
      <div class="hook-container">
        <div class="name-logo-container"><img class="logo" src="../../../assets/img/logo-name.png"></div>
        <div class="hook-text">Next Generation Gaming Competition</div>
      </div>
    </div>
  </div>

</div>
