<div class="main-container">
  <mat-card class="center-card">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
      <p>Please enter your new password bellow.</p>
      <form (ngSubmit)="saveNewPassword()">
        <div class="input-container">
          <mat-form-field class="login-input">
            <input matInput name="newPassword" class="input" placeholder="Enter New Password" type="password"
                   id="newPassword"
                   [(ngModel)]="user.password">
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field class="login-input">
            <input matInput name="confirmNewPassword" class="input" placeholder="Confirm New Password" type="password"
                   id="confirmNewPassword"
                   [(ngModel)]="confirmPassword">
          </mat-form-field>
        </div>
      </form>
      <button mat-button type="submit" class="button btn-1" (click)="saveNewPassword()" [disabled]="disable">
        Reset Password
      </button>
    </mat-card-content>
  </mat-card>
</div>
