<div class="main-container">
  <mat-card class="center-card">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content >
      <p>Please enter your new password bellow.</p>
      <form (ngSubmit)="saveNewPassword()">
        <app-custom-input
        [label]="'New Password'"
        [type]="'password'"
        [placeholder]="'New Password'"
        [toggleEdit]="false"
        [shouldShow]="true"
        [validation]="'password'"
        [position]="'bottom'"
        (valueEmitter)="setValue($event, 'tempPass')"
      ></app-custom-input>

      <app-custom-input
        [label]="'Confirm Password'"
        [type]="'password'"
        [placeholder]="'Confirm Password'"
        [toggleEdit]="false"
        [shouldShow]="true"
        [validation]="'password'"
        [position]="'bottom'"
        (valueEmitter)="setValue($event, 'confirmPass')"
      ></app-custom-input>
      </form>
      <button mat-button type="submit" class="button btn-1" (click)="saveNewPassword()"
              [disabled]="!user.password || !confirmPassword || user.password !== confirmPassword">
        Reset
      </button>
    </mat-card-content>
  </mat-card>
</div>
