<div class="main-container">
  <div class="center-container">
    <div class="overview-container">
      <mat-card class="overview-item">
        <mat-card-content class="overview-content">
          <div class="item-icon-container">
            <svg-icon class="item-icon" [applyCss]="true" src="../../assets/poker-chip.svg"></svg-icon>
          </div>
          <div class="item-info">
            <div class="item-data">$1,534,195</div>
            <div class="item-type">Chips</div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="overview-item">
        <mat-card-content class="overview-content">
          <div class="item-icon-container">
            <svg-icon class="item-icon" [applyCss]="true" src="../../assets/poker-cards.svg"></svg-icon>
          </div>
          <div class="item-info">
            <div class="item-data">36,356,523</div>
            <div class="item-type">Hands Played</div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="overview-item">
        <mat-card-content class="overview-content">
          <div class="item-icon-container">
            <svg-icon class="item-icon" [applyCss]="true" src="../../assets/award.svg"></svg-icon>
          </div>
          <div class="item-info">
            <div class="item-data">78%</div>
            <div class="item-type">Win Rate</div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="overview-item">
        <mat-card-content class="overview-content">
          <div class="item-icon-container">
            <svg-icon class="item-icon" [applyCss]="true" src="../../assets/chip-stack.svg"></svg-icon>
          </div>
          <div class="item-info">
            <div class="item-data">$934,195</div>
            <div class="item-type">Total Winnings</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="split-container">
      <div class="left-container">
        <div class="ranking-container">
          <div class="rank-icon-container">
            <svg-icon class="rank-icon" [applyCss]="true" src="../../assets/gold-rank.svg"></svg-icon>
          </div>
          <div class="rank-info">
            <div class="rank-class">
              <div class="info-type">
                Class
              </div>
              <div class="info-data">
                Gold
              </div>
            </div>
            <div class="rank-score">
              <div class="info-type">
                Rank
              </div>
              <div class="info-data">
                3,395
              </div>
            </div>
          </div>
        </div>
        <div class="chart-container">
          <div class="section-title">Total Winnings</div>
          <div class="chart">
            <google-chart
              [type]="'AreaChart'"
              [data]="myData"
              [columnNames]="myColumnNames"
              [options]="myOptions">
            </google-chart>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="leader-board-container">
          <div class="section-title">Friends Leaderboard</div>
          <div class="leader-board-wrapper">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 leader-board">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element" class="name-cell">
                  <svg-icon class="name-icon" [applyCss]="true" src="{{element.pic}}"></svg-icon>
                  <div class="name">{{element.name}}</div>
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef> Rank</th>
                <td mat-cell *matCellDef="let element"> {{element.weight | number: 0}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="invite-friend-btn">
            <p class="invite-btn-text">Need more chips? Refer a friend!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
