.active {
    color: #cc0000;
    text-decoration: underline;
}

.menu-btn {
    margin: 10px;
    width: fit-content;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu {
    width: fit-content;
    margin: auto;
    display: flex;
    font-size: 24px;
}