.active {
    color: #cc0000;
    border-bottom: #cc0000 3px solid;
}

.menu-btn {
    margin: 10px 30px;
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu {
    width: fit-content;
    margin: auto;
    display: flex;
    font-size: 24px;
}

.header {
    margin: auto;
    text-align: left;
}

.header-img {
    height: 400px;
    background: url(../../../assets//img//wave-curv2.jpg);
    object-fit: fill;
    position: relative;
    margin-bottom: 30px;
  }

.main-container {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

.sub-cat {
    width: fit-content;
    margin: 10px auto;
}

.betting-liast {
    width: 95%;
    margin: auto;
}

.item {
    margin: 10px
}

.languages {
    display: flex;
    width: fit-content;
    margin: 20px auto;
}

.language-icon {
    width: 100px;
    margin: 10px;
}

.game-data {
    margin: auto;
    width: fit-content;
}

.video {
    width: 100%;
    margin-bottom: 10px;
}

.red {
    color: #cc0000;
}

.bold { 
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .main-container {
        margin: auto 10px;
    }

    .menu-btn {
        font-size: 30px;
    }
  }