<div class="main-container">
  <mat-card class="center-card">
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
      <p>Please enter your account email bellow.</p>
      <form (ngSubmit)="resetPassword()">
        <div class="input-container">
          <mat-form-field class="login-input">
            <input matInput name="email" class="input" placeholder="Enter Email" type="text" id="email"
                   [(ngModel)]="email">
          </mat-form-field>
        </div>
      </form>
      <button mat-button type="submit" class="button btn-1" (click)="resetPassword()">
        Send
      </button>
      <button mat-button type="submit" class="button btn-2" [routerLink]="'/auth/login'">
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
