.menu-item {
  width: 75px;
  margin: 10px auto;
  text-align: center
}

.main-content {
  // margin-top: 75px;
}

.nav-bar {
  display: flex;
  width: 100vw;
  margin: 0;
  background: #F5F5F5;
  z-index: 100;
}

.example-container {

}

.sign-up-text-btn {
  color: white;
  background: #cc0000;
  font-size: 20px;
  font-family: 'xirod', sans-serif;
  width: fit-content;
  // padding: 8px;
  margin: auto;
}

.active-link {
  border-bottom: #cc0000 3px solid;
}

.toolbar-btns {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  //color: #505050;
  width: fit-content;
  display: flex;
}

.toolbar-btn {
  margin: 0 10px;
  font-size: 28px;
}

.toolbar-link {
  font-size: 24px;
  margin: 5px;
  color: inherit;
}

.companyLogo {
  margin-top: 15px;
  margin-left: 50px;
  height: 50px;
}

.home-link {
  //color: #cc0000;
}

.mat-toolbar {
  background: transparent;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9;
  margin: 0;
  padding: 0;
}

.side-nav-btns {
  //color: #505050;
}

.side-nav-btn {
  margin: 20px auto;
  width: fit-content;
}

.side-nav-item {
  display: block;
  border-radius: 0;
}

.side-nav-item:hover {

}

a {
  text-decoration: none;
  font-size: 75%;
}

button {
  font-size: 75%;
  min-width: min-content;
}

.mat-sidenav-content {
  //margin-top: 67px;
}

.mat-sidenav {
  margin-top: 67px;
}

.mat-sidenav-container {
  //min-height: 100vh !important;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons.md-36 {
  font-size: 36px;
}

.footer {
  background: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  width: fit-content;
  margin: auto;
  display: flex;
}

.footer-header {
  font-family: 'xirod', sans-serif;
  color: #cc0000;
}

.footer-column {
  margin: 20px;
  text-align: center;
  color: #ffff;
  max-width: 200px;
}

.footer-nav {
  color: inherit;
  font-size: 14px
}

.footer-nav:hover {
 cursor: pointer;
 color: #cc0000;
}

.footer-link {
  color: inherit;
}

.margin-top-20 {
  margin-top: 20px;
}

.type {
  color: #cc0000;
}

.time-unit {
  padding: 10px;
  border-left: 1px solid black;
}

.last {
  padding: 10px;
}


@media only screen and (max-width: 900px) {
  .menu-btn {
    visibility: visible;
  }

  .toolbar-btns {
    visibility: hidden;
  }

  .type {
    text-align: center;
    margin: auto;
  }

}

@media only screen and (max-width: 700px) {
  .footer-content {
    display: block;
  }

}
