<div>
  <mat-toolbar>
    <div class="nav-bar">
      <div class="menu-btn" fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a class="home-link" [routerLink]="['./home']">
        <img class="companyLogo" src="../../assets/img/logo.png">
      </a>
      <div class="toolbar-btns">
        <div class="toolbar-btn last" [routerLinkActive]="['active-link']">
          <a class="toolbar-link" [routerLink]="['./home']">Home</a>
        </div>
        <div class="toolbar-btn time-unit" [routerLinkActive]="['active-link']">
          <a class="toolbar-link" [routerLink]="['./getting-started']">Getting Started</a>
        </div>
        <div class="toolbar-btn time-unit">
          <a class="toolbar-link" [routerLink]="['../auth/login']">Login</a>
        </div>
        <div class="toolbar-btn time-unit">
            <button mat-raised-button class="sign-up-text-btn" [routerLink]="['../auth/signup']">
              Join
            </button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <div class="menu-item" [routerLink]="['./home']" [routerLinkActive]="['active-link']">
      Home
    </div>
    <div class="menu-item" [routerLink]="['./getting-started']" [routerLinkActive]="['active-link']">
      Getting Started
    </div>
    <div class="menu-item" [routerLink]="['../auth/login']" [routerLinkActive]="['active-link']">
      Login
    </div>
    <div class="menu-item" [routerLink]="['../auth/signup']" [routerLinkActive]="['active-link']">
      Sign Up
    </div>
  </mat-menu>

  <div class="main-content" fxLayout="row">
    <div fxFlex="grow">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="footer-column">
        <div class="footer-header">Getting Started</div>

        <div [routerLink]="[ './getting-started/setup' ]" class="footer-nav margin-top-20">Get Setup</div>
        <div [routerLink]="[ './getting-started/poker-rules' ]" class="footer-nav margin-top-20">Poker Rules</div>
      </div>
      <div class="footer-column">
          <div class="footer-header">Social</div>

        <div class="margin-top-20">
          <a class="footer-nav" href="https://www.facebook.com/probotplayground">Facebook</a>
        </div>
        <div class="margin-top-20">
          <a class="footer-nav" href="https://twitter.com/probotplay">Twitter</a>
        </div>
        <div class="margin-top-20">
          <a class="footer-nav" href="https://www.linkedin.com/company/probot-playground-inc">Linkedin</a>
        </div>
      </div>
      <div class="footer-column">
          <div class="footer-header">Legal</div>

        <div [routerLink]="[ './legal/tos' ]" class="footer-nav margin-top-20">Terms of Service</div>
        <div [routerLink]="[ './legal/privacy-policy' ]" class="footer-nav margin-top-20">Privacy Policy</div>
        <div [routerLink]="[ './legal/ccpa' ]" class="footer-nav margin-top-20">California Residents Privacy Notice
        </div>
      </div>
      <div class="footer-column">
          <div class="footer-header">Contact</div>

        <div class="margin-top-20">Telephone: (678) 488-4333</div>
        <div class="margin-top-20">Email: support@probotplayground.com</div>
      </div>
    </div>
  </div>
</div>