.nav-bar {
  display: flex;
  width: 100vw;
  margin: 0;
}

.example-container {

}

.active-link {
  //color: #cc0000;
}

.toolbar-btn {

}

.toolbar-btns {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  //color: #505050;
  width: fit-content;
  display: flex;
}

.toolbar-link {
  font-size: 24px;
  margin: 20px;
  color: inherit;
}

.companyLogo {
  margin-top: 15px;
  margin-left: 40px;
  width: 250px;
}

.home-link {
  //color: #cc0000;
}

.mat-toolbar {
  background: transparent;
  height: 75px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 0;
  //color: #cc0000;
}

.side-nav-btns {
  //color: #505050;
}

.side-nav-btn {
  margin: 20px auto;
  width: fit-content;
}

.side-nav-item {
  display: block;
  border-radius: 0;
}

.side-nav-item:hover {

}

a {
  text-decoration: none;
  font-size: 75%;
}

button {
  font-size: 75%;
  min-width: min-content;
}

.mat-sidenav-content {
  //margin-top: 67px;
}

.mat-sidenav {
  margin-top: 67px;
}

.mat-sidenav-container {
  min-height: 100vh !important;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons.md-36 {
  font-size: 36px;
}

.footer {
  background-color: #D2D2D2;
  padding: 50px;
}

.contact-type {
  display: flex;
  margin-bottom: 10px;
}

.contact-header {
  font-size: 30px;
  margin-bottom: 60px;
}

.contact-info {
  font-size: 30px;
  margin: auto;
  width: fit-content;
}

.type {
  color: #cc0000;
}

.contact {
  margin-left: 20px;
}

.contact-section {
  text-align: center;
}

.contact-icons {
  color: #cc0000;
  width: fit-content;
  margin: auto;
  display: flex;
}

.contact-icon {
  margin: 0 20px;
}

.contact-icon a {
  color: inherit;
}

@media only screen and (max-width: 900px) {
  .menu-btn {
    visibility: visible;
  }

  .toolbar-btns {
    visibility: hidden;
  }

  .type {
    text-align: center;
    margin: auto;
  }

  .contact {
    margin-left: 0;
  }

  .contact-type {
    display: block;
  }
}
