<div>
  <mat-toolbar>
    <div class="nav-bar">
      <div class="menu-btn" fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <a class="home-link" [routerLink]="['./home']">
        <img class="companyLogo" src="../../assets/img/logo.png">
      </a>
      <div class="toolbar-btns">
        <div class="toolbar-btn" [routerLinkActive]="['active-link']">
          <a class="toolbar-link" [routerLink]="['./home']">Home</a>
        </div>
        <div class="toolbar-btn" [routerLinkActive]="['active-link']">
          <a class="toolbar-link" [routerLink]="['./getting-started']">Getting Started</a>
        </div>
        <!-- <div class="toolbar-btn">
          <a class="toolbar-link" [routerLink]="['../auth/login']">Login</a>
          <a class="toolbar-link" [style.color]="'#cc0000'" [style.font-weight]="'bold'"
            [routerLink]="['../auth/signup']">Sign Up</a>
        </div> -->
      </div>
    </div>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <div class="menu-item" [routerLink]="['./home']" [routerLinkActive]="['active-link']">
      Home
    </div>
    <div class="menu-item" [routerLink]="['./getting-started']" [routerLinkActive]="['active-link']">
      Getting Started
    </div>
  </mat-menu>

  <div class="main-content" fxLayout="row">
    <div fxFlex="grow">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <div class="contact-section">
      <div class="contact-header">Contact</div>
      <div class="contact-info">
        <div class="contact-type">
          <div class="type">
            <fa name="phone"></fa>
          </div>
          <div class="contact">
            (678) 488-4333
          </div>
        </div>
        <div class="contact-type">
          <div class="type">
            <fa name="envelope"></fa>
          </div>
          <div class="contact">
            team@probotplayground.com
          </div>
        </div>
        <div class="contact-icons">
          <div class="contact-icon" (click)="SendSocialEvent('twitter')">
            <a href="https://twitter.com/probotplay">
              <fa name="twitter" class="fa-lg"></fa>
            </a>
          </div>
          <div class="contact-icon" (click)="SendSocialEvent('facebook')">
            <a href="https://www.facebook.com/probotplayground/">
              <fa name="facebook-f" class="fa-lg"></fa>
            </a>
          </div>
          <div class="contact-icon" (click)="SendSocialEvent('linkedin')">
            <a href="https://www.linkedin.com/company/probot-playground-inc/">
              <fa name="linkedin" class="fa-lg"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>