.menu-item {
  width: 75px;
  margin: 10px auto;
  text-align: center
}

.main-content {
  margin-top: 80px;
}

.nav-bar {
  display: flex;
  width: 100vw;
  margin: 0;
  background: #f6f6f6;
  z-index: 100;
}

.example-container {

}

.active-link {
  color: #cc0000;
  text-decoration: underline
}

.toolbar-btns {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  //color: #505050;
  width: fit-content;
  display: flex;
}

.toolbar-link {
  font-size: 24px;
  margin: 5px;
  color: inherit;
}

.companyLogo {
  margin-top: 15px;
  margin-left: 40px;
  width: 250px;
}

.home-link {
  //color: #cc0000;
}

.mat-toolbar {
  background: transparent;
  height: 75px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 0;
}

.side-nav-btns {
  //color: #505050;
}

.side-nav-btn {
  margin: 20px auto;
  width: fit-content;
}

.side-nav-item {
  display: block;
  border-radius: 0;
}

.side-nav-item:hover {

}

a {
  text-decoration: none;
  font-size: 75%;
}

button {
  font-size: 75%;
  min-width: min-content;
}

.mat-sidenav-content {
  //margin-top: 67px;
}

.mat-sidenav {
  margin-top: 67px;
}

.mat-sidenav-container {
  //min-height: 100vh !important;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons.md-36 {
  font-size: 36px;
}

.footer {
  background-color: #D2D2D2;
  // padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  width: fit-content;
  margin: auto;
  display: flex;
}

.footer-column {
  margin: 20px;
  text-align: center;
}

.footer-nav {
  color: inherit;
  font-size: 14px
}

.footer-nav:hover {
 cursor: pointer;
 color: #cc0000;
}

.footer-link {
  color: inherit;
}

.margin-top-20 {
  margin-top: 20px;
}

.type {
  color: #cc0000;
}


@media only screen and (max-width: 900px) {
  .menu-btn {
    visibility: visible;
  }

  .toolbar-btns {
    visibility: hidden;
  }

  .type {
    text-align: center;
    margin: auto;
  }

}

@media only screen and (max-width: 700px) {
  .footer-content {
    display: block;
  }

}
