.main-container {
  height: 100%;
  position: relative;
}

.main-content {
  height: calc(100% - 65px);
}

.mat-toolbar {
  margin: 0;
  padding: 0;
  z-index: 999;
  position: relative;
}

.company-logo {
  height: 45px;
}

.nav-bar {
  padding: 10px;
  display: flex;
  background: #ffffff;
  width: 100%;
  height: fit-content;
}

.toolbar {
  position: absolute;
  right: 30px;
  height: fit-content;
}

.user-info {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logout-btn:hover {
  cursor: pointer;
  color: #cc0000;
}

.user-name {
  margin: auto 10px;
  color: #cc0000;
}

.user-icon {
  width: 40px;
}

.arrow-icon {
  margin: auto;
}

.arrow-icon:hover {
  cursor: pointer;
}

.mat-sidenav {
  background: #C1C1C1;
}

.side-nav-btns {
  width: 30px;
}

.menu-btn {
  width: 10px;
}

.menu-item {
  width: 30px;
  margin: 10px auto;
}

.item {
  margin: 30px auto;
}

.item:hover {
  cursor: pointer;
}

.side-nav-btn {
  width: 30px;
}

.active-nav-btn {
  fill: #cc0000;
}

