.main-container {
  height: 100%;
  overflow: hidden;
}

mat-toolbar {
  margin: 0;
  padding: 0;
  z-index: 999;
  position: relative;
}

.company-logo {
  height: 50px;
}

.nav-bar {
  padding: 10px;
  display: flex;
  background: #ffffff;
  width: 100%;
}

.toolbar {
  position: absolute;
  right: 30px;
}

.user-info {
  display: flex;
}

.logout-container {
  background: #E9E9E9;
  width: fit-content;
  float: right;
  padding: 5px;
  border-radius: 10px;
}

.logout-btn:hover {
  cursor: pointer;
  color: #cc0000;
}

.user-name {
  margin: auto 10px;
  color: #cc0000;
}

.user-icon-container {
  //margin: auto;
}

.user-icon {
  width: 40px;
}

.arrow-icon {
  margin: auto;
}

.arrow-icon:hover {
  cursor: pointer;
}

.mat-sidenav {
  background: #C1C1C1;
  width: 50px;
}

.side-nav-btns {
  width: 30px;
  margin: 50px auto;
}

.item {
  margin: 30px auto;
}

.side-nav-btn {
  width: 30px;
}

.active-nav-btn {
  fill: #cc0000;
}

