.main-container {

}

.user-fields {
  margin: 30px;
}

.section {
  width: 250px;
}

.section-header {
  font-size: 30px;
  color: #cc0000;
}

.full-input {
  width: 100%;
}

.user-input {

}

.btn-1 {
  background: #cc0000;
  color: #ffffff;
}
