<div class="dropdown" style="float:right;">
  <div class="drop-btn" (click)="toggleDropdown()" >{{user.email}}<i class="fa fa-caret-down"></i></div>
  <div *ngIf="dropdown" class="dropdown-content">
    <a (click)="logout()" >Logout</a>
  </div>
</div>

<div class="nav-menu" [ngStyle]="styleMenu()">
  <ul class="menu-list">
    <li class="menu-item" routerLink="/profile/" (click)="menuActive = false;">Profile</li>
    <li class="menu-item"><a style="text-decoration: none; color: #fdfdfd" href="">Support</a></li>
    <li class="menu-item" style="border-bottom: none" (click)="menuActive = false;">Close <i class="fa fa-close"></i></li>
  </ul>
</div>

<div class="side-bar">
  <ul class="fa-ul button-list">
    <li class="logo">
      <!--<img class="logo-img" src="../../assets/xilo_icon_only.png" alt="xilo Logo">-->
    </li>
    <li class="list-item">
      <div class="item"
           [routerLink]="['./overview']"
           [routerLinkActive]="['']"
           #rla1="routerLinkActive"
           [class.item]="!rla1.isActive"
           [class.item-clicked]="rla1.isActive">
        <!--<img [class.icon]="!rla1.isActive"-->
             <!--[class.icon-clicked]="rla1.isActive" src="../../assets/Profile.svg">-->
        <span class="caption">Profile</span>
      </div>
    </li>
  </ul>
</div>
<div class="dashboard">
  <router-outlet></router-outlet>
</div>
