<div class="main-container">
  <div class="user-fields">
    <div class="section">
      <div class="section-header">Username:</div>
      <mat-form-field class="full-input">
        <mat-label>{{user.username}}</mat-label>
        <input matInput type="text" placeholder="New Username" [disabled]=""
               [(ngModel)]="tempUsername">
      </mat-form-field><br>

      <button mat-raised-button (click)="save()" class="btn-1"
              [disabled]="!tempUsername">Save</button>
    </div>

    <div class="section">
      <div class="section-header">Password:</div>
      <app-custom-input
        [label]="'New Password'"
        [type]="'password'"
        [placeholder]="'New Password'"
        [toggleEdit]="false"
        [shouldShow]="true"
        [validation]="'password'"
        [position]="'bottom'"
        (valueEmitter)="setValue($event, 'tempPass')"
      ></app-custom-input>

      <app-custom-input
        [label]="'Confirm Password'"
        [type]="'password'"
        [placeholder]="'Confirm Password'"
        [toggleEdit]="false"
        [shouldShow]="true"
        [validation]="'password'"
        [position]="'bottom'"
        (valueEmitter)="setValue($event, 'confirmPass')"
      ></app-custom-input>

      <button mat-raised-button (click)="save()" class="btn-1"
              [disabled]="!tempPassword || !confirmPassword || tempPassword !== confirmPassword">Save</button>
    </div>


  </div>
</div>
