<div class="main-container">
  <div fxLayout="row wrap" fxLayoutAlign="center" class="content-container">
    <div class="left-container">
      <mat-card class="bot-info-container mat-elevation-z6">
        <mat-card-title class="section-header">
          Bot
          <fa *ngIf="bot.id !== undefined" name="edit" class="edit-btn" (click)="toggleEdit()"></fa>
        </mat-card-title>
        <mat-card-content>
          <form class="bot-info-form">
            <mat-form-field class="bot-info-input">
              <input matInput [disabled]="!isEditing && bot.id !== undefined" name="bot-name" placeholder="Bot Name"
                     [(ngModel)]="bot.name">
            </mat-form-field>

            <mat-form-field class="bot-info-input">
              <input matInput [disabled]="!isEditing && bot.id !== undefined" name="bot-url" placeholder="Bot URL"
                     [(ngModel)]="bot.serviceUrl">
            </mat-form-field>
          </form>
          <div class="btn-container">
            <button *ngIf="bot.id === undefined" [disabled]="formCompleted()" mat-raised-button (click)="createBot()">
              Add Bot
            </button>
            <button *ngIf="isEditing" mat-raised-button [disabled]="formCompleted()" (click)="patchBot()">Save
            </button>
            <button *ngIf="isEditing" mat-raised-button class="bot-action-btn" (click)="toggleEdit()">Cancel</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="bot-info-container bot-data-container mat-elevation-z6">
        <mat-card-title class="section-header">Data</mat-card-title>
        <mat-card-content>
          <form class="bot-data-form">
            <mat-form-field class="bot-info-input">
              <mat-label>Time Period</mat-label>
              <mat-select [(ngModel)]="dataTimePeriod" name="dataPeriod">
                <mat-option *ngFor="let period of dataPeriods; let i = index " [value]="i">
                  {{period[0]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button class="bot-data-btn" (click)="getDataCSV()">Download Data</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right-container">
      <div class="chart-container">
        <div class="bot-analytics-header">
          <div class="section-header analytics-title">Analytics</div>
          <form class="bot-data-form">
            <mat-form-field class="bot-analytics-input">
              <mat-label>Metric</mat-label>
              <mat-select [(ngModel)]="metricType" name="metricType" (selectionChange)="getMetrics()">
                <mat-option *ngFor="let metric of metrics" [value]="metric[1]">
                  {{metric[0]}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="bot-analytics-input">
              <mat-label>Time Period</mat-label>
              <mat-select [(ngModel)]="metricTimePeriod" name="metricTime" (selectionChange)="getMetrics()">
                <mat-option *ngFor="let period of timePeriods" [value]="period[1]">
                  {{period[0]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <mat-card class="chart mat-elevation-z4">
          <google-chart
            #metricsChart
            id="metricsChart"
            [data]="metricsData"></google-chart>
        </mat-card>
      </div>
    </div>
  </div>
</div>
