/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import '~@angular/material/theming';

html {
  font-family: 'Lato', sans-serif;
  //background-color: #cc0000;
  height: 100%;
  margin: 0;
  padding: 0;
  //z-index: 0;
  //scroll-behavior: smooth;
}

body {
  //height: 100%;
  //font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  //z-index: 0;
}

.mat-tooltip {
  font-size: 18px!important;
}

@font-face {
  font-family: xirod;
  src: url('/assets/font/xirod.ttf') format('truetype');
}
