/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

html {
  font-family: 'Lato', sans-serif;
  //background-color: #cc0000;
  //height: 100%;
  margin: 0;
  padding: 0;
  //z-index: 0;
  //scroll-behavior: smooth;
}

body {
  //height: 100%;
  //font-family: 'Lato', sans-serif;
  //background-color: #cc0000;
  margin: 0;
  padding: 0;
  //z-index: 0;
}
