.main-container {
  text-align: center;
  background-color: #EFEFEF;
}

.main-svg {
  width: 800px;
}

.video {
  width: 100%;
}

.signup-action {
  padding-bottom: 30px;
  padding-top: 30px;
}

.image-slider {
  background: black;
}

.signup-btn {
  max-width: 500px;
  height: 75px;
  width: 90%;
  border-radius: 20px;
  background-color: #cc0000;
  margin: 10px auto;
  font-size: 30px;
  color: white;
  border: none;
}

.signup-step:hover {
  cursor: pointer;
}

.signup-btn:hover {
  cursor: pointer;
  border: #cc0000 solid 2px;
  background-color: transparent;
  color: #cc0000;
}

.section {
  padding: 50px 0;
  margin: 0 auto;
}

.section-header {
  color: black;
  font-size: 40px;
  font-family: 'xirod', sans-serif;
  margin-bottom: 20px;
}

.emphasis-header {
  color: #cc0000;
  font-size: 50px;
}

.content-header {
  font-size: 25px;
  color: #cc0000;
  max-width: 300px;
  margin: auto;
  font-family: 'xirod', sans-serif;
}

.content-label {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  max-width: 150px;
}

.content-item {
  margin-top: 15px;
  width: fit-content;
}

.content-item-in {
  margin-top: 15px;
  width: fit-content;
}

.side-padding {
  padding: 10px;
}

.description {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: left;
  max-width: 325px;
}

.description-main {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  text-align: left;
  max-width: 700px;
}

.sign-up-text-btn {
  color: white;
  background: #cc0000;
  font-size: 45px;
  font-family: 'xirod', sans-serif;
  padding: 30px;
  margin: auto;
}

.bot-text-btn {
  color: #cc0000;
  background: white;
  font-size: 30px;
  font-family: 'xirod', sans-serif;
  padding: 24px;
  margin: 10px auto;
}

.game-mode-icon {
  width: 250px;
  margin: 0 auto;
}

.benefit-icon {
  width: 125px;
  margin: 0 auto;
}

.red-icon {
  fill: #cc0000;
}

.red-text {
  color: #cc0000;
}

.white-icon {
  fill: #ffffff;
}

.white-text {
  color: #ffffff;
}

.alighn-center {
  text-align: center;
}

.get-started-item {
  margin: 10px;
  width: fit-content;
  color: #ffffff;
}

.get-started-icon {
  width: 200px;
  margin: 0 auto;
}

.gray-background {
  background-color: #D6D6D6;
  padding: 50px;
}

.red-gradient {
  background-color: #cc0000;
  background-image: linear-gradient(to top left,#B50505, #550202);
}

.link-div:hover {
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 175px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  margin-left: -88px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 875px) {
  .section-header {
    font-size: 30px;
  }
  
  .emphasis-header {
    font-size: 30px;
  }
  
  .main-svg {
    width: 700px;
  }

  .benefit-icon {
    width: 75px;
  }

  .gray-background {
    padding: 30px;
  }

  .get-started-icon {
    width: 125px;
  }
}

@media only screen and (max-width: 750px) {
  .main-svg {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .game-mode-icon {
    width: 200px;
  }

  .section-header {
    font-size: 25px;
  }
  
  .emphasis-header {
    font-size: 25px;
  }

  .main-svg {
    width: 400px;
  }

  .sign-up-text-btn {
    font-size: 30px;
    padding: 24px;
  }

  .bot-text-btn {
    font-size: 22px;
    padding: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .main-svg {
    width: 300px;
  }

  .gray-background {
    padding: 30px 10px;
  }

  .benefit-icon {
    width: 50px;
  }

  .content-item-in {
    width: 100px;
  }

  .description-main {
    font-size: 18px;
  }

  .description {
    font-size: 16px;
  }

  .game-mode-icon {
    width: 150px;
  }

  .content-label {
    font-size: 16px;
  }

  .emphasis-header {
    font-size: 20px;
  }

  .headr {
    font-size: 22px;
  }

  .content-header {
    font-size: 18px;
  }

  .tooltip .tooltiptext {
    width: 120px;
    margin-left: -60px;
  }

}