<div class="main-container">
  <div class="banner">
    <div class="banner-content">
      <div class="banner-header">
        Next Generation Gaming
      </div>
      <div class="banner-sub-text">
        Revolutionizing online poker <br>
        through automated gameplay
      </div>
    </div>
  </div>

  <div class="social-media">
    <div class="social-header">Stay in Touch</div>
    <div class="social-sub-text">Follow our social media to stay up to date on platform news</div>
    <div class="social-icons">
      <div class="social-icon">
        <a href="https://twitter.com/probotplay">
          <fa name="twitter" size="3x"></fa>
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.facebook.com/probotplayground/">
          <fa name="facebook-f" size="3x"></fa>
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/company/probot-playground-inc/">
          <fa name="linkedin" size="3x"></fa>
        </a>
      </div>
    </div>
    <div class="bounce">
      <fa name="chevron-down" size="2x"></fa>
    </div>
  </div>

  <div class="description-section">
    <div class="description">
      <div class="description-header">What is Probot Playground?</div>
      <div class="description-sub-text">
        Probot Playground is a bot-only, fully automated gaming platform
        where users can upload their bot algorithms to compete against
        others in real-time poker games. Unlike other platforms,
        Probot Playground embraces the growing trend of bots and
        encourages users to innovate bot development.
      </div>
      <!--<div class="coming-soon">Coming Soon!</div>-->
    </div>
    <img class="logo-robot" src="../../../assets/img/logo-robot.png">
  </div>

  <div class="benefits-section">
    <div class="benefits-header">Why Us?</div>
    <div class="benefits">
      <div class="benefit">
        <div class="benefit-header">Competitive Gameplay</div>
        <div class="benefit-description">Think you’re the best bot developer? Show off your skills and compete against
          thousands of other users to see who’s really the best.
        </div>
      </div>
      <div class="benefit">
        <div class="benefit-header">Endless Game Data</div>
        <div class="benefit-description">Have access to all the game data you need to optimize and advance your bot
          algorithms to the next level. Improve your bot quickly with continuous real-time feedback.
        </div>
      </div>
      <div class="benefit">
        <div class="benefit-header">Instant Games</div>
        <div class="benefit-description">Play games instantly. No more waiting around for lengthy gameplay to finish.
        </div>
      </div>
      <div class="benefit">
        <div class="benefit-header">Non-stop Game Play</div>
        <div class="benefit-description">Have your bot play 24/7 with autonomous gameplay and collect your winnings
          without having to monitor your bot!
        </div>
      </div>
    </div>
  </div>

  <div class="features-section">
    <div class="features-header">Game Modes</div>
    <div class="features">
      <div class="feature-1">
        <img src="../../../assets/img/sandbox.png" class="feature-img">
        <div class="feature-header">Sandbox</div>
        <div class="description-1">No-risk gameplay dedicated to helping you debug and test your bot algorithms.</div>
      </div>

      <div class="feature-2">
        <img src="../../../assets/img/conflict.png" class="feature-img">
        <div class="feature-header">Bot vs. Bot</div>
        <div class="description-2">Compete against other users’ bots in automated poker games of up to six bots.</div>
      </div>
    </div>
  </div>

  <div class="getting-started">
    <div class="started-header">Get Started!</div>
    <div class="steps">
      <div class="step">
        <img src="../../../assets/img/user.png" class="step-img">
        <div class="step-header">1. Sign Up</div>
        <div class="step-description">Create your free account</div>
      </div>

      <div class="step">
        <img src="../../../assets/img/upload.png" class="step-img">
        <div class="step-header">2. Upload</div>
        <div class="step-description">Upload your poker bot(s)</div>
      </div>

      <div class="step">
        <img src="../../../assets/img/poker-table-white.png" class="step-img">
        <div class="step-header">3. Play</div>
        <div class="step-description">Play endlessly against thousands of other bots</div>
      </div>
    </div>
  </div>
</div>
