<div class="main-container">
  <div class="slideshow-container" [ngStyle]="getSlideshowHeight()">
    <slideshow [autoPlay]="true" [imageUrls]="imageUrls" [autoPlayInterval]=5000 [showDots]=true>
    </slideshow>
  </div>

  <!-- <div class="signup-action">
    <div class="countdown-title">Tables Now Live!!!</div>

    <div class="signup-btn-container">
      <button class="signup-btn" [routerLink]="['../../auth/signup']">Sign Up Now</button>
    </div>
  </div> -->

  <div class="section">
    <div class="section-header">
      <div>COME JOIN</div>
      <div class="emphasis-header">THE PLAYGROUND</div>
    </div>
    <div class="section-content" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <div class="content-item gray-background"
      matTooltip="If you’re experienced in programming and coding, use any language to create your own bot algorithm and play. Want to play right away? You can try out our free sample bots and make it your own with small tweaks and modifications.">
        <div class="benefit-icon red-icon">
          <svg-icon [applyCss]="true" src="../../assets/data-management.svg"></svg-icon>
        </div>
        <div class="content-label">Practice Programming and Coding</div>
      </div>

      <div class="content-item gray-background" matTooltip="Take your bot and play them against other users and their bots! Compete with friends and other players around the globe with different strategies. Who can rule the playground?">
        <div class="benefit-icon red-icon">
          <svg-icon [applyCss]="true" src="../../assets/trophy.svg"></svg-icon>
        </div>
        <div class="content-label">Join the Competition</div>
      </div>

      <div class="content-item gray-background" matTooltip="After every game, download the game data and analyze your bot interactions to make changes and improve your bot!">
        <div class="benefit-icon red-icon">
          <svg-icon [applyCss]="true" src="../../assets/folder.svg"></svg-icon>
        </div>
        <div class="content-label">Practice Data Science</div>
      </div>

      <div class="content-item gray-background" matTooltip="Over time, your bot will progressively get better and innovate AI development!">
        <div class="benefit-icon red-icon">
          <svg-icon [applyCss]="true" src="../../assets/artificial-intelligence.svg"></svg-icon>
        </div>
        <div class="content-label">Get into AI Development</div>
      </div>

      <div class="content-item gray-background" matTooltip="Program a self-learning bot with your own algorithm and watch it self-learn and become a champion!">
        <div class="benefit-icon red-icon">
          <svg-icon [applyCss]="true" src="../../assets/algorithm.svg"></svg-icon>
        </div>
        <div class="content-label">Try out Machine Learning</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <div>GAME</div>
      <div class="emphasis-header">MODES</div>
    </div>
    <div class="section-content" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <div class="content-item">
        <div class="game-mode-icon">
          <svg-icon [applyCss]="true" src="../../assets/sandbox.svg"></svg-icon>
        </div>
        <div class="content-header">Sandbox</div>
        <div class="description">No-risk gameplay dedicated to helping you debug and test your bot algorithms.</div>
      </div>

      <div class="content-item">
        <div class="game-mode-icon">
          <svg-icon [applyCss]="true" src="../../assets/ranking.svg"></svg-icon>
        </div>
        <div class="content-header">Ranked</div>
        <div class="description">Compete against other users’ bots in automated poker games of up to six bots.</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <div>WHY US?</div>
    </div>
    <div class="section-content" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <div class="content-item">
        <div class="content-header">Competitive gameplay</div>
        <div class="description">Think you’re the best bot developer? Show off your skills and compete against thousands
          of other users to see who’s really the best.</div>
      </div>

      <div class="content-item">
        <div class="content-header">Endless game data</div>
        <div class="description">Have access to all the game data you need to optimize and advance your bot algorithms
          to the next level. Improve your bot quickly with continuous real-time feedback.</div>
      </div>

      <div class="content-item">
        <div class="content-header">Instant games</div>
        <div class="description">Play games instantly. No more waiting around for lengthy gameplay to finish.</div>
      </div>

      <div class="content-item">
        <div class="content-header">Non-stop gameplay</div>
        <div class="description">Have your bot play 24/7 with autonomous gameplay and collect your winnings without
          having to monitor your bot!</div>
      </div>
    </div>
  </div>

  <div class="section red-gradient">
    <div class="section-header white-text">
      <div>GET STARTED</div>
    </div>

    <div class="section-content white-icon white-text" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <div class="get-started-item link-div" [routerLink]="['/auth/signup']">
        <div class="get-started-icon">
          <svg-icon [applyCss]="true" src="../../assets/sign-up.svg"></svg-icon>
        </div>
        <div class="content-header white-text">1. sign-up</div>
        <div class="description alighn-center">Create your free account</div>
      </div>
      <div class="get-started-item link-div" [routerLink]="['../getting-started/setup']">
        <div class="get-started-icon">
          <svg-icon [applyCss]="true" src="../../assets/upload.svg"></svg-icon>
        </div>
        <div class="content-header white-text">2. upload</div>
        <div class="description alighn-center">Upload your bot</div>
      </div>
      <div class="get-started-item link-div" [routerLink]="['/auth/login']">
        <div class="get-started-icon">
          <svg-icon [applyCss]="true" src="../../assets/play.svg"></svg-icon>
        </div>
        <div class="content-header white-text">3. play</div>
        <div class="description alighn-center">Start playing AI gaming!</div>
      </div>
    </div>
  </div>
</div>