<div class="main-container">
  <div class="header-img">
    <div class="header-text">
      <div class="main-text">Next Generation</div>
      <div class="main-text">AI Gaming</div>
      <div class="sub-text">Join the Playground</div>
    </div>
  </div>

  <div class="keep-center">
    <div>
      <div class="prompt">Get in on the action!</div>
      <div class="prompt">Try our demo below.</div>
    </div>

    <div class="section">
      <div class="section-header">
        <div class="header">Demo</div>
        <div class="sub-header">Want to play against top-quality poker bots? Try our new demo:</div>
      </div>
      <div class="demo-content" fxLayout="row wrap">
        <mat-card class="demo-bot">
          <div class="demo-tabs" fxLayout="row">
            <div class="demo-tab" [ngStyle]="selectedTabStyle(0)" (click)="selectTab(0)">
              <mat-icon class="example-tab-icon">build</mat-icon>
            </div>
            <div class="demo-tab" [ngStyle]="selectedTabStyle(1)" (click)="selectTab(1)">
              <mat-icon class="example-tab-icon">code</mat-icon>
            </div>
          </div>
          <mat-card-title>{{titles[selectedTab]}}</mat-card-title>
          <mat-card-content *ngIf="selectedTab === 0" class="card-content">
            <mat-form-field class="field-input">
              <input matInput name="bot-name" placeholder="Demo Bot Name" type="text" id="bot-name"
                [(ngModel)]="demoBotName">
            </mat-form-field><br>
            <div fxLayout="row wrap">
              <div>
                <mat-label>Pick Bot Type</mat-label>
                <mat-radio-group class="bot-types" aria-label="Select Bot Type" [(ngModel)]="botType">
                  <mat-radio-button class="bot-type-btn" value="0">Safe</mat-radio-button>
                  <mat-radio-button class="bot-type-btn" value="1">Passive</mat-radio-button>
                  <mat-radio-button class="bot-type-btn" value="2">Aggresive</mat-radio-button>
                </mat-radio-group>
              </div>
              <button mat-raised-button name="play-btn" class="play-btn" (click)="startDemo()">Play</button>
            </div>
          </mat-card-content>

          <mat-card-content *ngIf="selectedTab === 1" class="card-content">
            <pre><code [highlight]="demoCode[botType]"></code></pre>
          </mat-card-content>
        </mat-card>
        <div class="demo-table">
          <app-game-table [demo]="true" [botName]="demoBotName" [botType]="botType"></app-game-table>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <div class="header">Game Play</div>
        <div class="sub-header">Learn the game. Dominate the Game. Become the Game.</div>
      </div>
      <div class="section-content" fxLayout="row wrap" fxLayoutAlign="space-evenly">
        <div class="main-svg">
          <video class="video" controls>
            <source src="../../assets/gameplay-demo.mp4" type="video/mp4">
            Unfortunatly your browser does not support HTML5 video.
          </video>
          <!-- <svg-icon [applyCss]="true" src="../../assets/poker-table-fancy.svg"></svg-icon> -->
        </div>
        <div class="side-padding">
          <p class="description-main">
            Probot Playground is a free to play, bot-only, fully
            automated gaming platform where users
            upload their own poker bot in order to
            compete against other user’s bots in real-time
            automated poker games.
          </p>
          <p class="description-main">
            If you are not sure where to start when
            creating your bot we can help! Checkout out
            our Getting Started page to learn how to set up
            your own bot and start playing!
          </p>

          <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
            <button mat-raised-button class="sign-up-text-btn" [routerLink]="['../../auth/signup']">
              Play For Free
            </button>
            <button mat-raised-button class="sign-up-text-btn" [routerLink]="['./getting-started']">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>