<div class="main-container">
  <div class="games-container" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card class="game-card mat-elevation-z6">
      <div class="center-content">
        <mat-card-title class="section-header">
          SANDBOX
        </mat-card-title>
        <mat-card-content>
          <button mat-raised-button [disabled]="checkingGame || checkingBot || !bot.id" class="play-btn"
            (click)="startSandBox()">Play</button>
          <div class="checks-container" *ngIf="checkingSandbox">
            <div class="check-item" [style.color]="checkingBot ? 'blue' : botConnected ? 'green' : 'red'">
              <div *ngIf="!checkingBot">
                <mat-icon *ngIf="!botConnected">close</mat-icon>
                <mat-icon *ngIf="botConnected">check</mat-icon>
              </div>
              <mat-spinner *ngIf="checkingBot" class="check-spinner" [diameter]="20" [color]="'accent'"></mat-spinner>
              <div class="check">Bot Connected</div>
            </div>
            <div *ngIf="botMessage" [style.color]="'red'">{{botMessage}}</div>
            <div class="check-item" [style.color]="checkingGame ? 'blue' : gameCompleted ? 'green' : 'red'">
              <div *ngIf="!checkingGame">
                <mat-icon *ngIf="!gameCompleted">close</mat-icon>
                <mat-icon *ngIf="gameCompleted">check</mat-icon>
              </div>
              <mat-spinner *ngIf="checkingGame" class="check-spinner" [diameter]="20" [color]="'accent'"></mat-spinner>
              <div class="check">Game Complete</div>
              <div class="check" *ngIf="gameMessage" [style.color]="'red'">{{gameMessage}}</div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="game-card margin-left mat-elevation-z6">
      <div class="center-content">
        <mat-card-title class="section-header">
          BOT VS. BOT
        </mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-label class="select-label">Select Stakes</mat-label>
              <mat-select class="buyin-select" [(ngModel)]="table" name="table-select" (ngModelChange)="tableSelect()">
                <mat-option *ngFor="let table of tables" [disabled]="table.minBuyin > user.chips" [value]=table>
                  {{table.stakes}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="table">
              <div>Buyin range: {{table.minBuyin | number}} - {{table.maxBuyin | number}}</div>
              <mat-form-field>
                <mat-label class="select-label">Select Initial Buyin</mat-label>
                <input matInput type="number" min="table.minBuyin" max="tanle.maxBuyin" required placeholder="Buyin"
                  name="buyin-input" [formControl]="buyinControl">
                <mat-error>Buyin must be betweet {{table.minBuyin | number}} - {{table.maxBuyin | number}}</mat-error>
              </mat-form-field>
            </div>
          </form>
          <button mat-raised-button class="play-btn" [disabled]="!inputsReady()" (click)="startPVP()">Play</button>
          <div *ngIf="pvpMessage" [style.color]="'red'">{{pvpMessage}}</div>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="game-card margin-left mat-elevation-z6">
      <div class="center-content">
        <mat-card-title class="section-header">
          Watch Game
        </mat-card-title>
        <mat-card-content>
          <div [hidden]="showNotMobile">
            <table mat-table  [dataSource]="dataSource">

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element" class="name-cell">
                  <div class="name">{{element.tableType}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Start</th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'short'}} </td>
              </ng-container>

              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>End</th>
                <td mat-cell *matCellDef="let element">
                  {{element.endedAt ? (element.endedAt | date: 'short') : 'In Progress'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row class="selectable-row" *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'selected-row': session && session.id === row.id}" (click)="sessionSelected(row)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
            <button mat-raised-button class="play-btn" [disabled]="!session" (click)="watchGame()">Watch</button>
          </div>
          <div *ngIf="showNotMobile" class="text-left">
            Please use a non mobile device to watch games.
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>