.main-container {
  height: 100%;
}

.games-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-card {
  text-align: center;
  width: 300px;
  height: 300px;
  position: relative;
  border: #cc0000 3px solid;
}

.margin-left {
  margin-left: 30px;
}

.play-btn {
  background-color: #cc0000;
  color: #f6f6f6;
  margin: auto;
}

.message {
  margin: auto;
  font-size: 20px;
  width: fit-content;
}

.center-content {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buyin-select {
  font-size: 16px;
}

.select-label {
  font-size: 16px;
}

@media only screen and (max-width: 950px) {
  .games-container {
    display: block;
  }

  .margin-left {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .games-container {
    position: relative;
    width: fit-content;
    top: 0;
    left: 0;
    transform: none;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 400px) {
  .game-card {
    width: 250px;
    height: 250px;
  }
}
