<div class="main-container">
  <div class="games-container">
    <mat-card class="game-card mat-elevation-z6">
      <div class="center-content">
        <mat-card-title class="section-header">
          SANDBOX
        </mat-card-title>
        <mat-card-content>
          <button mat-raised-button [disabled]="checkingGame || checkingBot || !bot.id" class="play-btn" (click)="startSandBox()">Play</button>
          <div class="checks-container" *ngIf="checkingSandbox">
            <div class="check-item" [style.color]="checkingBot ? 'blue' : botConnected ? 'green' : 'red'">
              <div *ngIf="!checkingBot">
                <mat-icon *ngIf="!botConnected">close</mat-icon>
                <mat-icon *ngIf="botConnected">check</mat-icon>
              </div>
              <mat-spinner *ngIf="checkingBot"
                           class="check-spinner"
                           [diameter]="20"
                           [color]="'accent'"></mat-spinner>
              <div class="check">Bot Connected</div>
            </div>
            <div *ngIf="botMessage" [style.color]="'red'">{{botMessage}}</div>
            <div class="check-item" [style.color]="checkingGame ? 'blue' : gameCompleted ? 'green' : 'red'">
              <div *ngIf="!checkingGame">
                <mat-icon *ngIf="!gameCompleted">close</mat-icon>
                <mat-icon *ngIf="gameCompleted">check</mat-icon>
              </div>
              <mat-spinner *ngIf="checkingGame"
                           class="check-spinner"
                           [diameter]="20"
                           [color]="'accent'"></mat-spinner>
              <div class="check">Game Complete</div>
              <div class="check" *ngIf="gameMessage" [style.color]="'red'">{{gameMessage}}</div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="game-card margin-left mat-elevation-z6">
      <div class="center-content">
        <mat-card-title class="section-header">
          BOT VS. BOT
        </mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field>
              <mat-label class="select-label">Buy In</mat-label>
              <mat-select class="buyin-select" [(ngModel)]="buyin" name="buyin-select">
                <mat-option *ngFor="let amount of buyins" [value]=amount>${{amount}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <button mat-raised-button class="play-btn" [disabled]="!bot.id" (click)="startPVP()">Play</button>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
